{% load static %}
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Index</title>
</head>
<body>
    <h1>{{message}}</h1>
    <ul class="list-group">
        {% for product in products %}
            <li class="list-group-item">
                {{product.title}}
                {% if product.stock %}
                    <span class="text-success">Disponible</span>
                {% else %}
                    <span class="text-danger">No Disponible</span>
                {% endif %}
            </li>
        {% empty %}
            <h3>No hay productos en la tienda</h3>
        {% endfor %}
    </ul>
    <img src="{% static 'img/mochila.jpg' %}" alt="">
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>